In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_excel('BCancer.xls')

In [6]:
print(data.shape)

(699, 11)

In [4]:
data.head()

,SampleCode,Thickness,Ucellsize,Ucellshape,MA,Secellsize,BN,BC,NN,Mitoses,Class
0,61634,5,4,3,1,2,0,2,3,1,2
1,63375,9,1,2,6,4,10,7,7,2,4
2,76389,10,4,7,2,2,8,6,1,1,4
3,95719,6,10,10,10,8,10,7,10,7,4
4,128059,1,1,1,1,2,5,5,1,1,2