In [30]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.svm import SVC
# import xgboost as xgb
from IPython.display import display
%matplotlib inline

In [2]:
data = pd.read_excel('BCancer.xls')

In [3]:
print(data.shape)

data.head()

(699, 11)

,SampleCode,Thickness,Ucellsize,Ucellshape,MA,Secellsize,BN,BC,NN,Mitoses,Class
0,61634,5,4,3,1,2,0,2,3,1,2
1,63375,9,1,2,6,4,10,7,7,2,4
2,76389,10,4,7,2,2,8,6,1,1,4
3,95719,6,10,10,10,8,10,7,10,7,4
4,128059,1,1,1,1,2,5,5,1,1,2

In [4]:
data.isnull().sum()

SampleCode    0
Thickness     0
Ucellsize     0
Ucellshape    0
MA            0
Secellsize    0
BN            0
BC            0
NN            0
Mitoses       0
Class         0
dtype: int64

In [7]:
def preprocess_data(data):
    data = data.drop(columns=["SampleCode"])
    data['Class'] = data['Class'].replace([2, 4], [0,1])
    
    for col in data.columns[:-1]:
        data[col] = scale(data[col])
    
    return data

In [8]:
data = preprocess_data(data)

/anaconda3/envs/py36/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [9]:
data.head()

,Thickness,Ucellsize,Ucellshape,MA,Secellsize,BN,BC,NN,Mitoses,Class
0,0.206936,0.283845,-0.069850,-0.633247,-0.549561,-0.952012,-0.590067,0.043601,-0.343912,0
1,1.628538,-0.699995,-0.406574,1.119088,0.354305,1.796673,1.461957,1.354454,0.239570,1
2,1.983939,0.283845,1.277048,-0.282780,-0.549561,1.246936,1.051552,-0.611825,-0.343912,1
3,0.562336,2.251526,2.287222,2.520955,2.162039,1.796673,1.461957,2.337594,3.156977,1
4,-1.214667,-0.699995,-0.743299,-0.633247,-0.549561,0.422330,0.641147,-0.611825,-0.343912,0

In [10]:
y = data['Class']
X = data.drop(['Class'], axis=1)

In [18]:
# pd.plotting.scatter_matrix(data[['Thickness','Ucellsize','Ucellshape','MA','Secellsize','BN','BC','NN','Mitoses']], figsize=(10,10))

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [14]:
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
f1_score(y_test, y_pred)

0.9411764705882353

In [21]:
model = SVC(kernel='rbf')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
f1_score(y_test, y_pred)

0.9514563106796116

In [31]:
from sklearn.ensemble import AdaBoostClassifier

model = AdaBoostClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
f1_score(y_test, y_pred)

/anaconda3/envs/py36/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

0.9199999999999999